.places {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.places h1 {
  font-size: 30px;
  align-self: flex-start;
  width: 100%;
}
.places article {
  box-sizing: border-box;
  float: left;
  width: 390px;
  padding: 20px;
  margin: 20px;
  border: 1px solid #ff5a5f;
  border-radius: 4px;
  text-align: center;
  position: relative;
}
.places .price_by_night {
  display: inline;
  box-sizing: border-box;
  color: #ff5a5f;
  border: 4px solid #ff5a5f;
  border-radius: 50%;
  min-width: 60px;
  height: 60px;
  font-size: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
  text-align: center;
  padding: 8px 0;
}
.information {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;

  height: 80px;
  margin: auto;
  /* padding-left: 0 50px; */
  /* padding: 0 10%; */
  position: relative;
}
.information .max_guest {
  display: inline-block;
  margin: auto;
  background-image: url("../images/icon_group.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  /* float: left; */
  width: 100px;
  height: 80px;
  line-height: 120px;

  /* text-align: center; */
}
.information .number_rooms {
  display: inline-block;
  margin: auto;

  background-image: url("../images/icon_bed.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;

  /* float: left; */
  height: 80px;
  width: 100px;
  line-height: 120px;
}
.information .number_bathrooms {
  display: inline-block;
  margin: auto;

  background-image: url("../images/icon_bath.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;

  /* float: left; */
  height: 80px;
  width: 100px;
  line-height: 120px;
}
.user {
  display: block;
  text-align: left;
  margin: 10px 0;
}
.description {
  display: block;
  text-align: left;
}
article .amenities {
  margin-top: 40px;
}
article .amenities h2 {
  font-size: 16px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}
article .amenities ul {
  padding: 0;
}
.pet-friendly {
  background-image: url("../images/icon_pets.png");
  background-repeat: no-repeat;
  background-position-x: left;
  background-size: contain;
  height: 20px;
  width: 20px;
  display: inline-block;
}
.tv {
  background-image: url("../images/icon_tv.png");
  background-repeat: no-repeat;
  background-position-x: left;
  background-size: contain;
  height: 20px;
  width: 20px;
  display: inline-block;
}
.wifi {
  background-image: url("../images/icon_wifi.png");
  background-repeat: no-repeat;
  background-position-x: left;
  background-size: contain;
  height: 20px;
  width: 20px;
  display: inline-block;
}
article .amenities ul {
  text-align: left;
}
article .reviews {
  margin-top: 40px;
}

article .reviews h2 {
  font-size: 16px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}
article .reviews ul {
  padding: 0;
}
article .reviews ul li {
  line-height: 8px;
}
article .reviews ul li h3 {
  font-size: 14px;
  text-align: left;
}
article .reviews ul li p {
  font-size: 14px;
  text-align: left;
}
