footer {
  box-sizing: border-box;

  background-color: #fff;

  height: 60px;
  width: 100%;

  border-top: 1px solid #ccc;

  text-align: center;
  padding: 20px 0;

  position: fixed;
  bottom: 0;
}
