.places h1 {
    font-size: 30px;
}
.places article{
    box-sizing: border-box;
    float: left;
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ff5a5f;
    border-radius: 4px;
    text-align: center;
    position: relative
}
.places .price_by_night{
    display: inline;
    box-sizing: border-box;
    color: #ff5a5f;
    border: 4px solid #ff5a5f;
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    position: absolute;
    top:20px;
    right: 20px;
    text-align: center;
    padding: 8px 0;
}
.information {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    
    height: 80px;
    margin: auto;
    /* padding-left: 0 50px; */
    /* padding: 0 10%; */
    position: relative;
}
.information .max_guest {
    display: inline-block;
    margin: auto;
    background-image: url("../images/icon_group.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    /* float: left; */
    width: 100px;
    height: 80px;
    line-height: 120px;

    /* text-align: center; */
}
.information .number_rooms {
    display: inline-block;
    margin: auto;

    background-image: url("../images/icon_bed.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;

    /* float: left; */
    height: 80px;
    width: 100px;
    line-height: 120px;
}
.information .number_bathrooms {
    display: inline-block;
    margin: auto;

    background-image: url("../images/icon_bath.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;

    /* float: left; */
    height: 80px;
    width: 100px;
    line-height: 120px;
}
.user {
    display: block;
    text-align: left;
    margin: 10px 0;
}
.description{
    display: block;
    text-align: left;
}
